 /* Завдання 1 */
 /* {
    color: pink;
 }
 #greycol {
    color: gray;
 }
 h3 + p
 .yellow{
    color: yellow;
 } */
 /* Завдання 2 */
 thead:nth-child(even){
 color: green;
 }
 .link:hover{
   color: goldenrod;
 }
 .link:visited{
   color: purple;
 }